body{
  background:url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fvenngage.com%2Fblog%2Fsimple-backgrounds%2F&psig=AOvVaw3QOcUxvi_1IeW8pzPak9qS&ust=1613731171800000&source=images&cd=vfe&ved=2ahUKEwjv66qbn_PuAhWTw4UKHVHtCD4Qr4kDegUIARDVAQ')no-repeat;
background-color:rgba(50, 35, 50, 0.5);
}
#main{
  font-family:'lato','verdana';
}
@media(min-width:500px){
 #img-div{
    max-width:100%;
    height:auto;
    
}
  img{
    max-width:100%;
  
  }

#title{
  font-size:25px;
  font-weight:50px;
}
  section{
    font-size:15px;
    text-align:center;
 
  }
  li{
   
   
    text-align:left;
    margin-left:50px;
    margin-right:50px;
  }
i{Color:#aa60ff;}
