body{
  background-color:#ffffff;
  word-spacing:2px;
  line-height:25px;
}
#main{
  font-family:'lato','verdana';
}
@media(min-width:500px){
 #img-div{
    max-width:100%;
    height:auto;
    
}
  img{
    max-width:100%;
  
  }

#title{
  font-size:25px;
  font-weight:50px;
}
  section{
    font-size:15px;
    text-align:center;
 
  }
  li{
   
   
    text-align:left;
    margin-left:50px;
    margin-right:50px;
  }
  footer{
  color:#ffdacc;
    float:right;
  }
i{Color:#fdfaff;}
